server:
  port: 7001
spring:
  application:
    name: eureka-server

eureka:
  instance:
     hostname: mqxu.com    # 主机名
     prefer-ip-address: true   #是否将当前服务的IP注册到 Eureka Server

  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/